<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyChat"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".chatgpt_conversation.oneoone_chatgpt"
            android:exported="false" />
        <activity
            android:name=".user_profile"
            android:exported="false" />
        <activity
            android:name=".about"
            android:exported="false" />
        <activity
            android:name=".userConversation"
            android:launchMode="singleTop"
            android:exported="false" >
            <intent-filter>
                <action android:name="action_1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".oneononechat.oneoone_chat"
            android:exported="false">
            <intent-filter>
                <action android:name="action_1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".avatar_uploader"
            android:exported="false" />
        <activity
            android:name=".userActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />

        <activity
            android:name=".chatActivity"
            android:exported="false" />
        <activity
            android:name=".signup"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".launcher"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFireBaseMessagingService"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFireBaseMessagingService$NotificationActionService"
            android:exported="false"
            android:permission="TODO">
            <intent-filter>
                <action android:name="action_1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <receiver android:name=".CallNotificationAction" />
    </application>

</manifest>